
*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: #EAE5E5 !important;
}
.navbar{
    margin-top: 2rem;
    margin: 0;
    padding:0;
    background-color: #454242;
    
}
.navbar-brand {
    margin-left:2.5rem;
    color: #EAE5E5 !important;

    
}
.navbar-brand h3{
    font-weight: bold !important;
}
.nav-link{
    margin-left: 5rem;
    
    color: #EAE5E5 !important;
   
}

.nav-link{
    transition: all 0.2;
}
.nav-link:hover{
   border-bottom: 2px solid #E3D235;

}


.main-content{
    display: flex;
    margin-top: 10rem;
    margin-left: 2.5rem;
    
}

.main-content > .left-side{

    margin-top: 6rem;
    margin-bottom: 1rem;
   

}
.main-content > .right-side {

    margin-left: 5rem;
    
    
}
.left-side h3{
    line-height: 4rem;
    font-weight: bold;
}
.left-side{
   margin-left: 2.5rem;
   font-size: 20px;
   
}
.right-side  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    height: 350px;
    background-color: #E3D235;
    
    border-radius: 50%;
    top:120px;
  
}
.right-side img{

    position: relative;
    left: -3px;
    bottom: 50px;
    border-radius:44.1%;
   

}

.left-side ul{
    display: flex;

}
.left-side ul li{
    padding-left: 5rem;
    overflow: hidden;
    line-height: 5rem;
}

.left-side h3{
    font-size: 43px;
}

.bg-warning{
    background-color: #E3D235 !important;
}

.left-side span{
    border-bottom: 4px solid #E3D235;
}

#btn-talk{
    margin-left: 1rem;
    border: #E3D235 1px solid !important;
}

#btn-discuss{
    margin-left: 3rem;
    width: 20rem;
    color: black !important;
}



@media screen and (max-width:667px) {

       

     
    
    .main-content .left-side h3{
        justify-content: center;
        align-items: center;
        font-size:90%;
        line-height: 30px;
        position: relative;
        right: 17%;
        bottom:30%;
        
        
    }
    .main-content ul li{
        position: relative;
        right: 23%;
        font-size: 60%;
        padding-left: 15%;

    }
     ul{
        position: relative;
        bottom: 37%;
        
     }
    .main-content .btn-outline-dark{
        position: relative;
        bottom:50%;
        right: 35%;
        font-size: 50%;
        width: 50% !important;
       

    }
    .main-content .btn-outline-light{
        position: relative;
        bottom: 64.2%;
        left:40%;
        font-size: 50%;
        width:30% !important
    }

    .btn-outline-dark{
        position: relative;
        bottom:100%;
    }
    .btn-outline-light{
        margin-bottom: 50%;
    }

    .main-content .right-side{
     
        background-color: transparent;

    }
    .main-content .right-side img{
        width: 200%;
        position: relative;
        margin-right: 500%;
        
    }


}







